git+git://github.com/rloganiv/allennlp.git@pytorch-grad-clip

# Linting
# Checks style, syntax, and other useful errors.
pylint==1.8.1
# Static type checking
mypy==0.521

# Coverage reports
pytest-cov
codecov
